/*STYLE RULES COMMON ACROSS WEBSITE*/


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Commissioner:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Commissioner, sans-serif;
    position: relative;
    margin: 0px;
}

/* footer styling */

footer {
    height: 23vh;
    background-color: #FFDB58;
    border-top: 10px solid #acb7bb;
    overflow: hidden;
}

footer > ul {
    padding-top: 10px;
}

footer > ul > li {
    list-style: none;
}

footer > p {
    text-transform: capitalize;
    padding-top: 30px;
    font-family: Anton, sans-serif;
    letter-spacing: 8px;
    font-size: 150%;
    text-transform: uppercase;
    color: #563D4D;
}

.social-links > li {
    display: inline;
    margin: 15px;
    font-size: 150%;
    padding-top: 10px;
}

.social-links > li > a {
    color: #563D4D;
}

.social-links > li > a:hover {
    color: #EFF3EB;
}

footer {
    text-align: center;
}

/*STYLE RULES FOR HOME PAGE*/

#hero-image {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: url(../images/sitephotos/joebio.jpg) no-repeat center center, #563D4D;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 45px;
}

/*Logo and logo text*/

h1, h2 {
    font-family: Anton, sans-serif;
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 150%;
    color: #563D4D;
}

#logo-text-container{
    text-align: center;
    width: 200px;
}

/* #logo-text-container > h1 {
    font-size: 300%;
} */

#logo {
    height: 25%;
    width: 50%;
    max-width: 200px;
    max-height: 150px;
    min-height: 150px;
    min-width: 200px;
    text-transform: uppercase;
    background-color: #FFDB58;
    padding: 7% 2% 7% 2%;
    border-radius: 5%;
    margin: auto;
}

#quote-text {
    letter-spacing: 4px;
    color: #563D4D;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    background-color: #acb7bb;
    padding: 7px;
    width: 30%;
    min-width: 200px;
}

#enter-site-button{
    margin: auto;  
    margin-top: 4%;
    font-size: 70%;
    width: 280px;
    text-align: center;
}

#enter-site-button > a {
    color: #EFF3EB;
    font-size: 400%;
    font-family: Anton, sans-serif;
    letter-spacing: 6px;
    background-color: #BB4F78;
    border-radius: 2%;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
    padding: 5px 10px;
    text-align: center;
}

#enter-site-button > a:hover{
    color: #FFDB58;
    background-color: #563D4D;
}

#enter-site-button > a > p {
    font-size: 70%;
}

#enter-site-button > a > p , #enter-site-button > a > i {
    display: inline;
}


/* home page nav section */

#nav-home{
    background-color: #EFF3EB;
    height: 77vh;
    width: 100%;
    padding-top: 5%;
}

#nav-home > ul{
list-style: none;
}

.nav-home-card-left > p, .nav-home-card-right > p{
    color: #563D4D;
    background-color: #EFF3EB;
    font-weight: 400;
    padding: 2%;
    
}

.nav-home-card-left, .nav-home-card-right {
    border: 2px solid #563D4D;
    border-radius: 2%;
    height: 30vh;
    margin: 1%;
    width: 45%;
    text-align: center;
    letter-spacing: 8px;
}

.nav-home-card-left {
    float: left;
}

.nav-home-card-right {
    float: right;
}

.nav-home-card-left:hover, .nav-home-card-right:hover {
    border-color: #FFDB58;
}

.nav-home-card-left > p, .nav-home-card-right > p {
    margin: auto;
}

#card1, #card2, #card3, #card4 {
    overflow: hidden;
    margin-top: 20px;
}

#card1 {
    background: url(../images/sitephotos/whole-band-june-ball-2019.jpg) no-repeat bottom center #563D4D;
    background-size: 280%;
    overflow: hidden;
}

#card2 {
    background: url(../images/sitephotos/june-ball-2019-lens-flare.jpg) no-repeat bottom center #563D4D;
    background-size: 280%;
    overflow: hidden;
}

#card3 {
    background: url(../images/sitephotos/june-ball-2019-groove.jpg) no-repeat center center #563D4D;
    background-size: 250%;
    overflow: hidden;
}

#card4 {
    background: url(../images/sitephotos/human-2018-harry-hannah-joe.jpg) no-repeat center center #563D4D;
    background-size: 250%;
    overflow: hidden;
}

/*STYLE RULES FOR 'ABOUT' PAGE*/

/* Navbar for 'about' page and all other pages */

#nav-main {
    background-color: #EFF3EB;
    padding: 10px 0px;
    height: 150px;
    position: relative;
}

#nav-logo > h1 {
    font-size: 100%;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
}

#nav-logo > h2 {
    font-size: 80%;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
}

#nav-logo {
    width: 30%;
    height: 75%;
    max-width: 75px;
    max-height: 75px;
    background-color: #FFDB58;
    margin: 2%;
    padding: 10px;
    border-radius: 5%;
    float: left;
}

#nav-logo:hover {
    border: 4px solid #BB4F78;
}

#nav-menu {
    list-style: none;
    float: right;
    width: 60%;
    height: 100%;
    text-align: right;
    margin-right: 2%;
    position: absolute;
    top: 100px;
    right: 10px;
}

#nav-menu > li > a {
    text-decoration: none;
    list-style: none;
    color: #563D4D;
    letter-spacing: 2px;
    font-size: 65%;
    font-family: Anton, sans-serif;
    text-transform: uppercase;
}

#nav-menu > li > a:hover {
    color:#FFDB58;
}    

#nav-menu > li {
    display: inline;
    margin: 1%;
}

#nav-main > hr {
    border: 1px solid #563D4D;
    width: 95%;
    margin: auto;
    margin-bottom: 0;
    background-color: #563D4D;
} 

/* About header */

#about-header {
    background-color: #acb7bb;
    padding: 5%;
}

#about-header > img {
    margin-top: 10%;
    border: 2px solid #FFDB58;
}

#about-body {
    background-color: #EFF3EB;
    padding: 30px 10px;
}

#about-body > h3 {
    margin-bottom: 5%;
    font-size: 150%;
}

#whole-band-pic {
    width: 100%;
    margin-bottom: 30px;
}

/* About bio section */

#about-body > h3 {
    text-align: center;
    color: #563D4D;
    font-family: Anton, sans-serif;
    letter-spacing: 4px;
}

#about-body > hr {
    border: 1px solid #563D4D;
    background-color: #563D4D;
    margin: 0;
}

.about-bio {
    font-size: 75%;
    background-color: #BB4F78;
    height: 85px;
    padding: 5px;
    padding-bottom: 8px;
}

.bio-text {
    color: #EFF3EB;
}

.bio-text > h3 {
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-size: 115%;
}

.bio-pic {
    max-height: 85px;
    border: 2px solid #acb7bb;
}

.bio-pic > img {
    max-height: 85px;
}

.about-bio-left {
    float: left;
    max-width: 50%;
}

.about-bio-right {
    float: right;
    max-width: 50%;
    text-align: right;
}

/* book now button */

#book-now {
    padding: 20px;
    text-align: center;
    font-weight: 400;
    background-color: #EFF3EB;
    padding-bottom: 50px;
    line-height: 40px;
}

#book-now > p > a > span {
    margin: 0 10px;
    padding: 10px;
    background-color: #BB4F78;
    color: #EFF3EB;
    border-radius: 5%;
}

#book-now > p > a > span:hover {
    color: #acb7bb;
    background-color: #563D4D;
}

#book-now > p > a{
    text-decoration: none;
}

/*STYLE RULES FOR THE MEDIA PAGE*/

#media-header {
    background-color: #563D4D;
    text-align: center;
    padding: 50px 0px;
    border-bottom: 5px solid #FFDB58;
    border-top: 5px solid #FFDB58;

}

#media-header > h2, #media-header > p, #media-header > ul {
    color: #EFF3EB;
    padding: 20px;
    list-style: none;
}

#media-header > p {
    max-width: 400px;
    margin: auto;
}

#media-header > img, #media-header > ul {
    display: inline-block;
    width: 70%;
}

#media-header > ul {
    font-size: 80%;
    font-family: Anton, sans-serif;
    letter-spacing: 4px;
    text-align: left;
}

#video-section {
    padding-top: 30px;
}

#media-section {
    background-color: #EFF3EB;
    color: #563D4D;
    text-align: center;
    padding-bottom: 30px;
}

#media-section > p {
    margin: 30px 10px;
}

#video-card {
    height: 180px;
    width: 290px;
    margin: auto;
    background-color: #BB4F78;
    margin: auto;
    padding-top: 35px;
    border-radius: 2%;
}

#soundcloud-section {
    width: 100%;
    background-color: #563D4D;
    padding-top: 80px;
    padding-bottom: 50px;
    color: #EFF3EB;
    border-top: 5px solid #FFDB58;
    border-bottom: 5px solid #FFDB58;
}

#soundcloud-card {
    height: 300px;
    width: 90%;
    background-color: #BB4F78;
    margin: auto;
    padding-top: 40px;
    border-radius: 2%;
}

#soundcloud-card > iframe {
    width: 80%;
    height: 80%;
}

#soundcloud-links {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

#soundcloud-links > a {
    color: #cccccc;
    text-decoration: none;
}

/* STYLE RULES FOR THE REVIEWS PAGE*/

#reviews-header {
    background-color: #EFF3EB;
    text-align: center;
    color: #563D4D;
    padding: 30px;
}

#reviews-header > h3 {
    font-size: 90%;
}

.reviews-section {
    background-color: #EFF3EB;
}

.reviews-section > div {
    background-color: #acb7bb;
    padding: 20px 10px;
    width: 250px;
    height: 100px;
    border-radius: 5%;
    margin: auto;
    position: relative;
}

#review-image1, #review-image2, #review-image3 {
    width: 300px;
    height: 100px;
    background-color: #EFF3EB;
    padding: 0px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 5%;
}

#review-image2{
    height: 160px;
}

#review-image1 > img, #review-image2 > img, #review-image3 > img {
    max-width: 100%;
    border-radius: 2.5%;
}

.review {
    float: left;
}

.customer {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*STYLE RULES FOR CONTACT PAGE*/

/*Header*/

#contact-header {
    min-height:  300px;;
    background-color: #EFF3EB;
    border-bottom: 10px solid #acb7bb;
}

#contact-header-title {
    float: right;
    max-width: 40%;
    padding-right: 10%;
}

#contact-header-title > h2 {
    letter-spacing: 2px;
    font-size: 100%;
}

#contact-header-image {
    float: left;
    max-width: 40%;
    padding-left: 10%;
    padding-top: 30px;
}

#contact-header-image > img {
    width: 90%;
    padding-left: 5px;
    max-height: 280px;
}

/*Contact form*/

#contact-background {
    background-color: #BB4F78;
}

#contact-form {
    background-color: #EFF3EB;
    padding: 10%;
    border: 1px solid #563D4D;
    max-width: 300px;
    margin: auto;
}

label {
    margin: 10px 5px;
}

input, textarea {
    margin: 10px 5px;
    font-family: Commissioner, sans-serif;
    font-weight: 600;
    color: #563D4D;
    padding: 10px;
    background-color: #FFDB58;
}

#submit {
    background-color: #BB4F78;
    padding: 10px;
    border-radius: 5%;
    color: #EFF3EB;
    font-size: 120%;
}

#submit:hover {
    background-color: #563D4D;
    color: #FFDB58;
}

#reset {
    background-color: #BB4F78;
    padding: 10px;
    border-radius: 5%;
    color: #EFF3EB;
    font-size: 120%;
}

#reset:hover {
    background-color: #563D4D;
    color: #FFDB58;
}

/*Thanks page*/

#thanks-message {
    background-color: #EFF3EB;
    padding: 10%;
}

#thanks-message > h2{
    background-color: #FFDB58;
    border-radius: 2%;
    text-align: center;
    font-size: 200%;
}

#thanks-message > p {
    text-align: center;
    font-size: 120%;
    padding-top: 10%;
}

/* MEDIA QUERIES */

/* Rules for phone screens with a width less than 320px */

@media screen and (max-width: 320px) {
    #nav-menu {
        text-align: center;
        font-size: 80%;
        margin: auto;
    }
}

/* Rules for screens with a width between 600px and 950px */

@media screen and (min-width: 600px) {
/* home */
#hero-image {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: url(../images/sitephotos/human-2018-hero-image.jpg) no-repeat center center, #563D4D;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 45px;
}

#logo-text-container{
    text-align: center;
    width: 200px;
}

#logo-text-container > h1 {
    font-size: 250%;
}

#logo {
    padding: 7% 7% 10% 7%;
}

.nav-home-card-left > p, .nav-home-card-right > p {
    font-size: 120%;
    font-weight: 500;
}

#card1, #card2, #card3, #card4 {
    background-position: center center;
}


#card1, #card2 {
    background-size: 170%;
}

#card3 {
    background-size: 150%;
}

#card4 {
    background-size: 150%;
}

/* about */
#about-header {
    text-align: center;
}

#about-header > p {
    margin: auto;
    max-width: 540px;
    padding-top: 20px;
}

#about-header > img {
    max-width: 540px;
    margin-top: 20px;
}

.about-bio, #about-body > hr {
    max-width: 590px;
    margin: auto;
}

.about-bio {
    height: 150px;
    padding-top: 20px;
}

.bio-text {
    text-align: right;
    font-size: 130%;
}

.about-bio-right {
    text-align: left;
}

.bio-pic {
    float: left;
    margin-left: 5px;
    max-height: 130px;
}

.about-bio > .bio-pic > img {
    max-height: 130px;
}

.about-bio-left.bio-pic {
    height: 130px;
}

.about-bio-left.bio-pic {
    margin-left: 80px;
}

#bio-pic2 {
    margin-left: 140px;
}

#bio-pic5 {
    margin-left: 180px;
}

/* navbar and logo - all pages except homepage*/

#nav-main {
    height: 200px;
}

#nav-menu > li > a {
    font-size: 100%;
}

#nav-menu {
    position: absolute;
    top: 130px;
    right: 10px;
}

#nav-logo {
    max-width: 115px;
    max-height: 115px;
}

#nav-logo > h1 {
    font-size: 150%;
}

#nav-logo > h2 {
    font-size: 100%;
}

/* media */

#media-header > ul {
    font-size: 120%;
    text-align: center;
}

#media-section > p, #soundcloud-section > p {
    font-size: 110%;
    font-weight: 450;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#soundcloud-card {
    max-width: 540px;
}

/* contact */

#contact-header-title {
    float: right;
    max-width: 40%;
    max-height: 300px;
    padding-top: 20px;
    padding-right: 10%;
    font-size: 145%;
}

#contact-header-image {
    float: left;
    width: 35%;
    padding-top: 20px;
    padding-left: 15%;
    padding-bottom: 5%;
}

#contact-header-image > img {
    width: 60%;
    float: right;
    padding-right: 10%;
} 

#contact-form {
    padding: 5% 2%;
}
}

/* Rules for homepage nav on a tablet */

@media screen and (min-width: 700px) {
    #nav-home{
        height: 150vh;
    }

    .nav-home-card-left, .nav-home-card-right {
        max-width: 300px;
        margin: auto;
    }

    #card1, #card2, #card3, #card4 {
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }

    #card3 {
        background-size: 142%;
    }

    #nav-home > ul > li > a {
        text-decoration: none;
    }

    #hero-image {
        min-height: 700px;
    }

    #nav-home {
        padding-bottom: 50px;
    }
}

/* Rules for home page on screens of width 800px and above */

@media screen and (min-width: 800px) {
    #hero-image {
        background-size: 800px;
    }

    #logo {
        padding: 4% 4% 6% 4%;
    }
}

@media screen and (min-width: 950px) {
    
/* nav bar for all pages excluding homepage. */

    #nav-menu {
        position: absolute;
        top: 150px;
        right: 10px;
    }

    #nav-main > hr {
        border: #EFF3EB;
    }

/* footer for all pages */

    footer {
        padding-top: 50px;
    }

    #nav-menu > li > a {
        font-size: 115%;
    }

/* Book now section */

    #book-now {
        font-size: 120%;
    }

/* About */

    #about-header > h2 {
        font-size: 250%;
    }

/* Media */

    #media-header > ul {
        font-size: 150%;
        text-align: left;
    }

    #media-header > ul, #media-header > img {
        width: 40%;
    }

    #media-header > h2 {
        font-size: 250%;
    }

    #media-section > p, #soundcloud-section > p {
        font-size: 140%;
        max-width: 800px;
    }

/* Reviews */
    
    #reviews-header {
        font-size: 150%;
    }

    .reviews-section > div > p {
        font-size: 120%;
    }

    .reviews-section > div {
        width: 350px;
        height: 140px;
    }

/* Contact */

    #contact-header-title {
        background-color: #acb7bb;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    #contact-header-title > h2 {
        font-size: 150%;
        padding-right: 0%;
    }

    #contact-header-image {
        width: 30%;
        padding-top: 0px;
    }

    #contact-header-image > img {
        max-width: 200px;
    }

    #contact-form {
        padding: 5% 2%;
    }
}

@media screen and (min-width: 1230px) {

    #nav-home {
        height: 50vh;
        padding-top: 30px;
    }

    #nav-home > ul {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #nav-home > ul > li {
        display: inline-block;
        padding: 10px;
    }

    .nav-home-card-left, .nav-home-card-right {
        width: 280px;
    }

    #card1, #card2 {
        background-position: bottom center;
        background-size: 200%;
    }

    #card3 {
        background-size: 160%;
    }

    #hero-image {
        min-height: 800px;
        color: #563D4D;
    }

    /* Media */

    #media-header > ul {
        font-size: 240%;
    }
}